/*Google font imports*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

/*Navbar styles */
.navbar {
  background: #7e3939 !important;
  color: white;
}
.navbar-collapse {
  flex-grow: 0 !important;
}

.navHeading {
  margin-right: auto;
}

#navH1 {
  font-family: "Parisienne", cursive;
  margin-bottom: 0;
}

.liIcon {
  padding: 7px;
}

.instagram,
.facebook {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  color: white;
}

.instagram:hover,
.facebook:hover {
  color: black;
}

.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: black !important;
}

/*Hero image About us section styles */
.welcomeH1 {
  font-size: 3.25rem;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Subtle shadow for better readability */
}

.welcomeP {
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px 10px black;
}

.treatmentBtn {
  background-color: #602d2d;
  color: white;
  margin-right: 1rem;
}
.treatmentBtn:hover {
  background-color: #000000;
  color: white;
}

.galleryBtn {
  background-color: #ba7979;
  color: white;
}
.galleryBtn:hover {
  background-color: #000000;
  color: white;
}

#scrollUpButton {
  background-color: #ba7979;
  color: white;
}
#scrollUpButton:hover {
  background-color: #000000;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 4s; /* You can adjust the duration to your preference */
  animation-fill-mode: forwards;
}

/*Treatments section styles */
.price-list-container {
  background-color: #e0e0e0;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.heading {
  font-size: 1.5rem;
  color: #333;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #0e0e0e;
}
.sub-heading {
  font-weight: bold;
  text-align: center;
}
.price {
  text-align: center;
}
.service-name,
.price {
  padding: 5px 0; /* Spacing for each cell */
}

/*Treatments image gallery */

/*Find us section */

#findUs {
  padding-top: 1.5rem;
  background-color: #fdf1e2;
}

#findUsIcon {
  padding-right: 1rem;
}

.mapContainer {
  padding-bottom: 0.5rem !important;
}

.goTop {
  text-align: end;
  padding-bottom: 1rem;
}

.embed-responsive {
  border: 1px solid #7e3939;
}

#scrollUpButton {
  background-color: #7e3939;
  color: white;
  border: none;
}

/* Footer */
footer {
  padding: 1.5rem;
  background: #7e3939;
}

footer p {
  margin: 0;
  color: white;
  text-align: center;
}
