.navbar-collapse {
    flex-grow: 0!important;
}

.navbar {
    background: #7E3939!important;
    color: white;
}

.navIcons {
    align-items: center;
}

.instagram, .facebook {
    margin-right: 1rem;
    color:white;
}

.nav-link {
    color: white!important;
}